html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#h1 {
  font-size: 2em;
}

#entry {
  text-align: center;
  margin: 0 auto;
}

#content {
  margin-top: 50px;
  text-align: center;
}